<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="layout/default" lang="ko">
<div  layout:fragment="content" style="background-color: #f2fbff; height: -webkit-fill-available;">
	<div class="container-fluid">
		<div class="row">
			<i class="fa fa-spinner fa-spin fa-3x"></i>
			<span class="pClass"></span>
		</div>
	</div>
<script type="text/javascript">
/*<![CDATA[*/
var loading = {
		isApp: null,
		hostUrl: null,
		headerObj: null,
		apiTable: null,
}
var text = "로딩 중 입니다. 잠시만 기다려 주세요.";
var cnt = 0;
var speed = 10; //글자가 찍히는 속도
var timer1 = null;
$(document).ready(function() {
	changeText();
// 	clearInterval(Otimer);
	loading.isApp = document.URL.indexOf("web");
	$("#head_title").hide();
	if(loading.isApp < 0) {
		location.href="app://callback;headerinfo;homeInitialise;";
		sessionStorage.setItem("isApp", "mobile");
	} else {
		homeInitialise();
		sessionStorage.setItem("isApp", "web");
	}
});

function changeText(){
	$(".pClass").innerHTML = text.substring(0, cnt) + "_";
    cnt++;
    timer1 = setTimeout('gogogo()', speed);
 
    if(text.length < cnt){
        // 아래 주석으로 처리된 부분을 지우면 한번만 실행됩니다.
        //clearTimeout(timer1)
        cnt = 0;
    }
};

function homeInitialise(data) {
	getInfo(data);
	$("#head_title").hide();
}

function getInfo(data) {
	var info = null;
	if(loading.isApp < 0) {
		info = JSON.parse(data);
	}
	$.get( "/api/getInfo", function( data ) {
		loading.headerObj = new Object();
		loading.headerObj.custom = "DARBY";
		loading.headerObj.product = "DARBY";
		loading.headerObj.language = "KR";
		loading.headerObj.session = "";
		loading.headerObj.push = "";
		loading.headerObj.certkey = "DARBY";
		
		if(loading.isApp < 0) {
			loading.headerObj.os_type = info.os_type; //*
			loading.headerObj.os_ver = info.os_ver; //*
			loading.headerObj.product_ver = info.product_ver; //*
			loading.headerObj.device = info.device; //*
			loading.headerObj.device_model = info.device_model; //*
		} else {
			loading.headerObj.os_type = "01"; //*
			loading.headerObj.os_ver = "3.5.6"; //*
			loading.headerObj.product_ver = "1.5.6"; //*
			loading.headerObj.device = "FDSFSFSDAFASF"; //*
			loading.headerObj.device_model = "G6"; //*
		}
		sessionStorage.setItem("headerObj", JSON.stringify(loading.headerObj));
		getUrl(loading.headerObj);
	});
}

function getUrl(header) {
	$.get( "/api/getUrl?header=" + encodedJSON(header), function( data ) {
		console.log(JSON.parse(data))
		var response = JSON.parse(data);
		if(response.resultCode == 1000) {
			loading.hostUrl = JSON.parse(data).result.List.CustomInfo[0].HostUrl.toString();
			sessionStorage.setItem("hostUrl", loading.hostUrl);
			getApi(loading.hostUrl);
		} 
	});
}

function getApi(hostUrl) {
	$.get( "/api/getApi?hostUrl=" + hostUrl, function( data ) {
		console.log(JSON.parse(data).result.List.Table)
		loading.apiTable = JSON.parse(data).result.List.Table;
		sessionStorage.setItem("api", JSON.stringify(loading.apiTable));
	}).done(function(data) {
		location.href = "/homeEx"
	});
}

/*]]>*/
</script>
</div>
</html>